<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <title>Senti-Meter</title>
  </head>

  <body class="text-gray-800 antialiased">
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>

    <!-- Navbar -->
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-lg font-bold">Senti-Meter</a>
        <div>
          <a href="{{url_for('analyze_sentiment')}}" class="text-white mr-4"
            >Analyze Sentiment</a
          >
          <a href="{{url_for('chatbot')}}" class="text-white mr-4">Chatbot</a>
          <a href="{{url_for('ytanalyze')}}" class="text-white mr-4"
            >Youtube Analysis</a
          >
          <a href="{{url_for('review_analysis')}}" class="text-white mr-4"
            >Custom Review</a
          >
        </div>
      </div>
    </nav>

    <main>
      <!-- Introduction -->
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 75vh"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style="
            background-image: linear-gradient(
              90deg,
              rgba(17, 223, 169, 1) 0%,
              rgba(3, 60, 88, 1) 49%,
              rgba(10, 32, 50, 1) 100%
            );
          "
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-50 bg-black"
          ></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-5xl">
                  Understand the emotions behind the words.😊
                </h1>
                <p class="mt-4 text-lg text-gray-300">
                  Text sentiment prediction is a powerful tool that can help you
                  to understand the emotions and opinions expressed in your text
                  data. This information can be used to improve your business in
                  a number of ways
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <br /><br /><br />
    <footer class="relative bg-gray-900 pt-8 pb-6">
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-300 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4">
        <hr class="my-6 border-gray-400" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-white font-semibold py-1">
              Copyright © Senti-Meter
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename='scripts/index.js' )}}"></script>
  </body>
</html>
